<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/goliathBank</property>
        <property name="connection.username">root</property>
        <property name="connection.password">deca4951_</property>
        <mapping class="es.jpf.goliathbank_v2.Models.Admin"/>
        <mapping class="es.jpf.goliathbank_v2.Models.Cliente"/>
        <mapping class="es.jpf.goliathbank_v2.Models.Cuenta"/>
        <mapping class="es.jpf.goliathbank_v2.Models.Transaccion"/>
    </session-factory>
</hibernate-configuration>